<div ng-include="'views/navbar.html'"></div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Bievenido al Sistema de Aulas</h1>
        <p>Este proyecto te permitirá utilizar el sistema de aulas, donde podrás crear tu cuenta e ingresar notas.</p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">Acerca Nosotros &raquo;</a></p>
      </div>
    </div>


    <div class="container-fluid" >
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Perfil</h2>
          <p>Podra ver su perfil con los datos asociados a su cuenta ya creada, puede agregar mas datos o cambiar los que ya esten descontinuados</p>
          
        </div>
        <div class="col-md-4">
          <h2>Contacto</h2>
          <p>Podra enviar mensajes al administrador oh a otro usuario para comunicarse con el, es un sistema de mensajeria el cual avisara a la persona cuando
          tenga un nuevo mensaje</p>
          
       </div>
        <div class="col-md-4">
          <h2>Archivos</h2>
          <p>Podra subir material y descargar material de las clases correspondientes, ademas de poder ver las tareas pendientes.</p>
        </div>
      </div>

      <hr>
    </div> <!-- /container -->


