<div ng-include="'views/navbar.html'"></div>

 <div class="container">
	<header id="hdatos"><h3>Datos alumno - Información general</h3></header>
    <div class="jumbotron">
      <img src="images\yeoman.png" class="img-responsive" alt="No Disponible">

      <p class="pdatos" ng-model="user"><b>Nombre:</b> {{user.full_name}}</p>
      <p class="pdatos"><b>Rut:</b> {{user.RUT}}</p>
      <p class="pdatos"><b>Carrera:</b> Ingeniería en Computación e Informática.</p>
      </div>
  </div>

<div class="container">
   <h3>Cursos Activos</h3>
    <div class="table" ng-init="crearTabla()">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>NRC</th>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in table">
          <td>{{x.subject.nrc}}</td>
          <td>{{x.subject.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
